.contact {
  padding: 120px 0 80px 0;
  background-color: var(--background-color);

  &-container {
    display: grid;
    grid-template-columns: 66% 1fr;
    grid-gap: 32px;
  }

  &-left,
  &-right {
    background-color: var(--bg-color);
    @include borderRadius(8px);
  }

  &-left {
    padding: 55px;
  }

  &-title {
    font-size: 3rem;
    font-weight: 700;
    color: var(--black-color);
  }

  &-text {
    font-size: 1.6rem;
    color: rgb(151, 151, 151);
    margin: 10px 0 35px 0;
  }

  &-form {
    @include grid(2, 25px);
  }

  &-right &-form {
    display: unset;
  }

  &-box {
    span {
      display: block;
      font-size: 1.5rem;
      font-weight: 500;
      color: var(--black-color);
      padding-bottom: 12px;
    }

    input {
      width: 100%;
    }

    &:last-child {
      grid-column: span 2;

      input {
        padding-bottom: 125px;
      }
    }
  }

  &-btn {
    @extend .input;
  }

  &-submit {
    font-size: 1.55rem;
    padding: 14px 38px;
    margin-top: 25px;
  }

  &-right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 42px;
    z-index: 2;
  }

  &-svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &-titlesm {
    color: var(--black-color);
    font-size: 2.3rem;
    font-weight: 700;
  }

  &-right &-form {
    padding-top: 30px;
    border-top: 1px solid rgba(0, 0, 0, .1);

    input {
      width: 100%;
      margin-bottom: 20px;
    }

    a {
      width: 100%;
      font-size: 1.55rem;
      text-align: center;
      padding: 13px 0;
      margin-bottom: 15px;
    }

    p {
      text-align: center;
    }
  }
}

.darklight .contact-text {
  color: rgb(200, 200, 200);
}

.darklight .contact-left {
  background-color: #1d2144;
}

.darklight .contact-right {
  background-color: #0f1849;
}